{% extends 'layouts/base.html' %}

{% block title %}Pecube{% endblock %}
{% block meta_description %}Pecube model heat transfer 3D solver.{% endblock %}
{% block body %}
    <div class="container sm-margin-top">
        <div class="row text-center lg-margin-bottom">
            <h1>Pecube-Dash</h1>
            <h3 class="text-muted">
                Create inputs and manage execution of Pecube model
            </h3>
        </div>
    </div>
<div class="row text-center">
      <div class="col-lg-7">
          <i class="fa fa-fw fa-4x fa-cubes text-primary"></i>
          <h2>Explore results</h2>
          <p class="text-muted">Lookup for previous executions status and results</p>
          <p>
            <a href="#" class="btn btn-default">Lookup</a>
          </p>
      </div>
      <div class="col-lg-3">
          <i class="fa fa-fw fa-4x fa-paper-plane-o text-primary"></i>
          <h2>Create execution</h2>
          <p class="text-muted">Construct input parameters for execution</p>
          <p>
            <a href="#" class="btn btn-default">Construct</a>
          </p>
      </div>
    </div>
{% endblock %}